<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudoku Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <div class="container">
        <h1>Sudoku</h1>
        <div id="game-board"></div>
        <div class="controls">
            <button id="new-game">New Game</button>
            <button id="solve-game">Solve</button>
            <label for="cells-to-remove">How many cells would you like to remove?</label>
            <input type="number" id="cells-to-remove" min="1" max="81" value="10">
            <button id="remove-cells">Remove Cells</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
