<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudoku Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <div class="container">
        <h1>Draw Your Own Sudoku</h1>
        <label>For most accurate results, please select 3 cells per box</label>
        <br></br>
        <div id="game-board"></div>
        <div class="controls">
            <button id="new-game">New Game</button>
            <button id="create-board">Create Sudoku</button>
            <label class="switch-wrapper">
                <span class="switch-label">Notes </span>
                <span class="switch">
                    <input type="checkbox" id="candidate-switch">
                    <span class="slider"></span>
                </span>
            </label>
        </div>
    </div>
    <div id="loading" class="spinner hidden"></div>
    <div class="side-menu">
        <label><b>Pre-Made Patterns</b></label>
        <button id="premade-house">House</button>
        <button id="premade-stripes">Stripes</button>

    </div>
    <div class="about-section">
        <label><b>About</b></label>
        <br></br>
        <label>A solved sudoku has every digit from 1-9 in each row, column, and box in the sudoku board. For the puzzle to be valid,
            there can only be one possible solution. For this project, I utilized python to generate full sudoku boards, then produce a valid
            puzzle based on the user's input, if possible. 
        </label>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</body>
</html>
